<div class="row justify-content-center">
    <div class="col">
        <div class="text-center">
            <br>
            <button (click)="onLeftClick()" style="width : 10em">Venstre</button>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <br>
            <button (click)="onRightClick()" style="width : 10em">Højre</button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <br>
    <br>
    <div class="col">
        <input type="text" name="args" id="args" [(ngModel)]="args" [value]="args" class="form-control" placeholder="tilføj eventuelle kommentarer her (valgfrit)">
    </div>
</div>