<div style="text-align:center">
  <h1>
    Coherence Annotation
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div style="white-space: pre-wrap;">
        {{text1}}
      </div>
    </div>

    <div class="col-sm">
      <div style="white-space: pre-wrap;">
        {{text2}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <app-slider *ngIf="State === 'slider'" (confirm)="annotate($event)"></app-slider>
  <app-binary *ngIf="State === 'binary'" (left)="annotate($event)" (right)="annotate($event)"></app-binary>
  <app-scale *ngIf="State === 'scale'" (confirm)="annotate($event)"></app-scale>
  <app-selector *ngIf="State === 'selector'" (startSession)="newSession($event)"></app-selector>
</div>