<input name="options" type="radio" [value]="-5"  [(ngModel)]="options" >
<input name="options" type="radio" [value]="-4"  [(ngModel)]="options" >
<input name="options" type="radio" [value]="-3"  [(ngModel)]="options" >
<input name="options" type="radio" [value]="-2"  [(ngModel)]="options" >
<input name="options" type="radio" [value]="-1"  [(ngModel)]="options" >

<input name="options" type="radio" [value]="1"  [(ngModel)]="options" >
<input name="options" type="radio" [value]="2"  [(ngModel)]="options" >
<input name="options" type="radio" [value]="3"  [(ngModel)]="options" >
<input name="options" type="radio" [value]="4"  [(ngModel)]="options" >
<input name="options" type="radio" [value]="5"  [(ngModel)]="options" ><br/>

<button (click)="onConfirm()">Confirm</button>