<div class="row">
Der er ikke flere sammenligninger tilbage! Hvis du er villig til at lave flere kan du prøve at hente et nyt sæt at 33 sammenligninger.<br>
Hvis der stadig ikke er flere sammenligninger og du alligevel gerne vil mere så send en besked til Andreas.<br><br>
Hvis du er færdig, så rigtig mange tak for din indsats!<br>
<br>
</div>
<div class="row">
  <div class="col">
    <div class="text-center">
        <button (click)="continue()" style="width : 10em">Jeg vil mere</button>
    </div>
  </div>
  <div class="col">
    <div class="text-center">
        <button (click)="onBack()" style="width : 10em">Jeg er færdig</button>
    </div>
  </div>
</div>