<div class="row">
  <br>
    <ng5-slider
    [(value)]="value"
    [options]="options"
    (userChangeStart)="onUserChangeStart($event)"
    (userChange)="onUserChange($event)"
    (userChangeEnd)="onUserChangeEnd($event)">
  > </ng5-slider>
</div>

<div class="row justify-content-center mt-3">
  <div class="text-center">
    <br>
    <button (click)="onConfirm()" style="width : 10em">Bekræft</button>
  </div>
</div>

<div class="row mt-5">
    <br>
    <br>
    <div class="col">
        <input type="text" name="args" id="args" [(ngModel)]="args" [value]="args" class="form-control" placeholder="tilføj eventuelle kommentare her (valgfrit)">
    </div>
</div>